hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(165, 165, 165, 0), rgba(165, 165, 165, 0.75), rgba(165, 165, 165, 0));
    max-width: 400px;
}

html{
	height: 100%;
}
.grit{
    font-family: 'Nunito Sans', sans-serif;
}
#main{
	text-align: center;
	padding-top:15%;
    color:whitesmoke;
}

.b{
    font-size: 1.5em;
}

body{
    /* text-align: center; */
    color: #6c757d;
}

h1{
	font-weight: 700;
	font-size: 3em;
}

.btn-outline-dark{
    border-color: #e3e7eb ;
    color: #6c757d;
    margin-bottom: 1px;
}


.new-title{
    color: #6c757d;
    text-decoration: none;
}

.card-title a{
    text-decoration: none;
}
.card-title a:hover{
    text-decoration: none;
    color: #343a40;
}


.card{
    box-shadow: 10px 10px 15px 0px #e3e7eb;
    border: none;
    /* border-radius: 0; */
}

.card-subtitle{
    font-weight: 400;
    color: #6c757d !important;
}
#embed-player{
    border: none;
}

.coffee{
    max-width: 300px;
    margin: 0 auto;
}

.navbar-brand{
    color: #6c757d !important;
}